[submodule "src/3rdparty/keychain"]
	path = src/3rdparty/keychain
	url = https://github.com/hrantzsch/keychain.git
[submodule "src/3rdparty/qt-piwik-tracker"]
	path = src/3rdparty/qt-piwik-tracker
	url = https://github.com/pbek/qt-piwik-tracker.git
[submodule "src/3rdparty/utf8proc"]
	path = src/3rdparty/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
