<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>UIDesignRequiresCompatibility</key>
	<false/>
	<key>LoginItemAgentMachName</key>
	<string>864VDCS2QY.com.infomaniak.drive.desktopclient.LoginItemAgent</string>
</dict>
</plist>
