<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="QTComponents" Directory="INSTALLFOLDER">
      <Component Guid="8E9E11E1-667E-4EA1-AA52-3A43B2D80C26">
        <CreateFolder Subdirectory="iconengines">
          <File Source="$(desktop-kDriveDir)/build-windows/install/bin/d3dcompiler_47.dll" />
        </CreateFolder>
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Core.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Gui.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Network.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6OpenGL.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Positioning.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6PrintSupport.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Qml.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6QmlModels.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Quick.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6QuickWidgets.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Svg.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6SvgWidgets.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6WebChannel.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6WebEngineCore.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6WebEngineWidgets.dll" />
        <File Source="$(desktop-kDriveDir)/build-windows/install/bin/Qt6Widgets.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
