<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="SyncExcludeComponents" Directory="INSTALLFOLDER">
            <Component>
                <File Source="$(desktop-kDriveDir)\build-windows\install\bin\sync-exclude.lst" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
