<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PackageGroup Id="VCRedistComponents">
            <ExePackage Id="VcRedistExe"
              DisplayName="Microsoft Visual C++"
              SourceFile="$(desktop-kDriveDir)\build-windows\install\bin\vc_redist.x64.exe"
              Vital="no"
              InstallArguments="/quiet /norestart"
              UninstallArguments="/quiet /norestart"
              Permanent="yes"
              DetectCondition="VersionNT64"/>
        </PackageGroup>
    </Fragment>
</Wix>
