name: Linux kDrive desktop CI on x64 Arch

on:
  workflow_dispatch: 
  # Legacy CI
  #pull_request:
  #  branches-ignore:
  #    - 'release/**'
  #  types: [ synchronize, review_requested ]	
concurrency:
  group: linux-${{ github.head_ref }}
  cancel-in-progress: true

env:
  KDRIVE_TEST_CI_API_TOKEN: ${{ secrets.KDRIVE_TOKEN }}
  KDRIVE_TEST_CI_ACCOUNT_ID: ${{ vars.KDRIVE_TEST_CI_ACCOUNT_ID }}
  KDRIVE_TEST_CI_USER_ID: ${{ vars.KDRIVE_TEST_CI_USER_ID }}
  KDRIVE_TEST_CI_DRIVE_ID: ${{ vars.KDRIVE_TEST_CI_DRIVE_ID }}
  KDRIVE_TEST_CI_REMOTE_DIR_ID: ${{ vars.KDRIVE_TEST_CI_REMOTE_DIR_ID }}
  KDRIVE_TEST_CI_REMOTE_PATH: ${{ vars.KDRIVE_TEST_CI_REMOTE_PATH }}
  KDRIVE_TEST_CI_8MO_PARTITION_PATH: ${{ vars.KDRIVE_TEST_CI_8MO_PARTITION_PATH_LINUX }}
  KDRIVE_TEST_CI_RUNNING_ON_CI: true
  KDRIVE_SENTRY_ENVIRONMENT: "linux_ci_runner"
  QT_QPA_PLATFORM: offscreen
  XDG_RUNTIME_DIR: /tmp/runtime-runner

jobs:
  build-kDrive:
    runs-on: [ self-hosted, Linux, X64, desktop-kdrive ]
    env:
      KDRIVE_TEST_CI_LOCAL_PATH: "${{ github.workspace }}/test/test_ci"
    steps:
      - name: Checkout the PR
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.head_ref }}
          submodules: recursive

      - name: Clean the log directory
        run: rm -rf /tmp/kDrive-logdir/*

      - name: Grant building script execute permission
        run: chmod +x ./infomaniak-build-tools/linux/build-ci-amd64.sh
      - name: Build kDrive desktop
        run: ./infomaniak-build-tools/linux/build-ci-amd64.sh -u -t release

      - name: Grant tests script execute permission
        run: chmod +x ./infomaniak-build-tools/run-tests.sh
      - name: Execute tests
        run: ./infomaniak-build-tools/run-tests.sh

      - name: Upload tests logs artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-tests-logs
          path: /tmp/kDrive-logdir/*
          retention-days: 3
          overwrite: true
        if: always()

      - name: Clean-up generated code
        run: rm -rf build-linux
